/* Style de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  
  /* Style pour l'en-tête de la page */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Style pour le formulaire d'importation */
  form {
    margin: 20px auto;
    max-width: 600px;
    padding: 10px;
  }
  
  form h2 {
    margin-bottom: 10px;
  }
  
  form input[type=file] {
    margin-bottom: 10px;
  }
  
  form input[type=submit] {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px;
  }
  
  /* Style pour la table d'affichage des données */
  table {
    border-collapse: collapse;
    margin: 20px auto;
    max-width: 600px;
    width: 100%;
  }
  
  table th, table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
  }
  
  table th {
    background-color: #333;
    color: #fff;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  